div#nav {
    margin: 0 0 15px;
    height: 20px;
}
ul#h_nav{
    position:absolute;
    overflow:visible;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1em;
    z-index: 1000;
}

ul#h_nav,ul#h_nav ul{
    list-style:none;
    padding:0;
    margin:0;
}

ul#h_nav li{
    float:none;
    /*position:relative;*/
    white-space:nowrap;
    line-height:32px;
    float:left;
    border-right:1px solid #013a55;
    margin: 0;
}

ul#h_nav li a{
    display:block;
    padding: 0 0.8em;
    margin: 0;
}

ul#h_nav li li a {
    border: 1px solid #013a55;
}

ul#h_nav li li {
    float: none;
    border: none;
    line-height: 24px;
}

ul#h_nav ul li{
    float:none;
    margin: 0;
    /*display:none;*/
}

ul#h_nav ul{
    display:none;
    position:relative;
    padding:0;
    margin:0;
    z-index: 1000;
}

ul#h_nav li:hover ul, ul#h_nav li.hover ul, ul#h_nav li ul:hover, ul#h_nav li ul.hover {
    display: block;
    position: absolute;
}

ul#h_nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
ul#h_nav li ul li a{
    color: white;
    background:url(../images/btnbg.gif);
    text-decoration: none;
    font-weight: bold;
    text-indent: none;
}

ul#h_nav li:hover > a, ul#h_nav li.hover > a{
    color: white;
    font-weight: bold;
}
ul#h_nav li ul li:hover > a, ul#h_nav li ul li.hover > a{
    color: white;
    font-weight: bold;
}

ul#h_nav li a:hover, ul#h_nav li a.hover {
    background: #035b86;
    color: #FFFFFF;
}
ul#h_nav a:hover, ul#h_nav a.hover, ul#h_nav li.hover a.hover{
    color: white;
    font-weight: bold;
    display: block;
}